:root {
    --container-width: 1280px;
    --accent: #FD8719;
}

body {
    background: #fff;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}

.menu {
    margin-bottom: 100px;
}

.menu h1 {
    margin-top: 200px;
    font-size: 75px;
    letter-spacing: -6%;
    font-weight: 500;
    text-align: center;
}

.menu_right-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
}

.menu-filters {
    display: flex;
    gap: 25px;
}


.filter {
    padding: 16px 24px;
    border: 1.5px solid #FD8719;
    border-radius: 64px;
    background-color: #FFF7EF;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.filter.active {
    background: #FD8719;
    color: #fff;
}

.menu_search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 282px;
    height: 55px;
}

.menu_search img {
    width: 20px;
    height: 20px;
}

.menu-cards {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    border-radius: 10px;
    margin: 0 auto;
}


.menu_card {
    width: 384px;
    background-color: #FFF7EF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;
}

.menu_card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.menu_card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.menu_img-wrapper {
    height: 240px;
    border-radius: 20px;
    overflow: hidden;
}

.menu_img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.menu_block {
    padding: 35px 24px;
}

.menu_description h4 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
}

.menu_description p {
    font-size: 20px;
}

.menu_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

}

.menu_price h5 {
    font-size: 30px;
    font-weight: 600;
}

.menu_span {
    font-size: 20px;
    font-weight: 400;
    color: #BABABA;
}

.menu_count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 64px;
    background-color: #FFD8B3;
    color: #000;
}

.menu_btn {
    background-color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}

.menu_number {
    font-size: 18px;
    font-weight: 400;
}

.menu_cart {
    width: 65px;
    height: 40px;
    border-radius: 64px;
    border: none;
    background-color: #FD8719;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    fill: white;
}

.header_user {
    fill: none;
    cursor: pointer;
    transition: 0.3s;
    stroke: white;
}

.header_user:hover {
    stroke: #FD8719;
    transform: 0.3s;
}

.header_cart {
    width: 24px;
    height: 24px;
    fill: white;
    transition: 0.3s;
    cursor: pointer;
}

.header_cart:hover {
    fill: #FD8719;
    transform: 0.3s;
}

.menu_cart:hover {
    border: 1px solid #FD8719;
    background-color: white;
    transition: 0.3s;
}

.menu_cart:hover .cart_icon {
    fill: #FD8719;
}

.menu_cart img {
    width: 17px;
    height: 22px;
}

button {
    font-family: inherit;
}

.menu_count,
.menu_cart {
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 9999;
}

.modal.active {
    display: flex;
}

.modal__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
}

.modal__container {
    position: absolute;
    inset: 0;
    overflow-y: auto;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    position: relative;
    background: #fff;
    border-radius: 20px;
    max-width: 780px;
    width: 90%;
    padding: 32px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal__close {
    position: absolute;
    top: 16px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__close svg {
    width: 24px;
    height: 24px;
}

.modal__close svg line {
    stroke-width: 2px;
}

.modal__body {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.modal_image {
    width: 260px;
    height: 260px;
    border-radius: 16px;
    overflow: hidden;
    flex-shrink: 0;
}

.modal_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal__title {
    font-size: 55px;
    margin-bottom: 20px;
}

.modal_subtitle {
    font-size: 28px;
    margin-bottom: 12px;
}

.modal__desc {
    font-size: 18px;
    margin-bottom: 25px;
}

.modal__btn {
    border: none;
    border-radius: 64px;
    padding: 8px 12px;
    color: #9A9A9A;
    background-color: #FFD8B3;
    font-size: 15px;
    cursor: pointer;
}

.modal__btn.active {
    color: white;
    background-color: #FD8719;
    font-weight: 600;
}

.modal__blocks {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal__block_title {
    font-size: 20px;
    font-weight: 600;
    color: #444444;
}

.modal__block_subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #444444;
}

.modal__total {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    letter-spacing: -6%;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.modal__add {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
}




@media (max-width: 1200px) {
    .hero__content h1 {
        font-size: 42px;
    }

    .choice h2,
    .about_paragraph h2 {
        font-size: 60px;
    }

    .choice_container {
        gap: 40px;
    }

    .menu-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu_card {
        width: 320px;
    }
}


@media (max-width: 992px) {}



@media (max-width: 992px),
(max-width: 768px),
(max-width: 1024px) {

    .menu h1 {
        margin-top: 140px;
        font-size: 45px;
    }

    .menu_right-line {
        margin: 35px 0;
    }

    .menu-filters {
        gap: 8px;
    }

    .filter {
        padding: 12px 14px;
        font-size: 14px;
        height: 33px;
    }

    .menu_search {
        width: 129px;
        height: 33px;
    }

    .menu_search img {
        width: 15px;
        height: 15px;
    }

    .menu_block {
        padding: 35px 13px;
    }

    .menu_price h5 {
        font-size: 25px;
        font-weight: 600;
    }

    .menu_span {
        font-size: 17px;
    }

    .menu_count {
        width: 80px;
        height: 33px;
    }

    .menu_cart {
        width: 57px;
        height: 33px;
    }

    .menu-cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .menu_card {
        width: 320px;
    }

    .modal {
        position: fixed;
        inset: 0;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .modal.active {
        display: flex;
    }

    .modal__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(4px);
    }

    .modal__content {
        max-width: 688px;
    }

    .modal__body {
        gap: 16px;
    }

    .modal_image {
        width: 100%;
        height: 248px;
    }

    .modal__title {
        font-size: 36px;
    }
}


@media (max-width: 480px),
(max-width: 540px) {

    .menu h1 {
        margin-top: 113px;
        font-size: 45px;
    }

    .menu_right-line {
        margin: 30px 0;
        display: flex;
        justify-content: space-around;
        align-items: start;
    }

    .menu-filters {
        gap: 8px;
        flex-wrap: wrap;
        width: 60%;
    }

    .menu_search {
        width: 100px;
        height: 33px;
    }

    .menu_search img {
        width: 10px;
        height: 10px;
    }

    .menu-cards {
        grid-template-columns: 1fr;
    }

    .modal {
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow-y: auto;
    }

    .modal__content {
        width: 90%;
        max-width: 360px;
        margin: 0 auto;
    }

    .modal__close svg {
        width: 15px;
        height: 15px;
    }

    .modal__body {
        flex-direction: column;
        gap: 20px;
    }

    .modal__add {
        height: 50px;
    }

    .modal__container {
        align-items: flex-start;
    }

    .footer_nav {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 344px) {

    .modal__blocks {
        gap: 30px;
    }

    .modal__image img{
        margin-top: 10px;
        width: 100%;
        height: 200px;
    }



}